.containers{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 20px;
}
.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.Selected-items{
    border-radius: 10px;
    width: 300px;
    margin-left: 10px;
    border: 10px lightpink;
    text-align: center;
    background-color: lightpink;
    height: 500px;
    position: sticky;
    top: 0;
}

.btn{
    padding: 10px;
    border: none;
    background-color: rgb(211, 98, 136);
    color: white;
    border-radius: 7px;
    margin: 10px;
}

@media screen and (max-width: 690px) {
    .containers{
        grid-template-columns: 2fr 2fr;
    }
    .items-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
    
}